.dropdown{
    height: 52px;
    width: 570px;
    border-radius: 10px;
    background-color: #ff6060;
    font-size: 18px;
    line-height: 142.6%;
    padding-left: 20px;
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    position: relative;
    z-index:2;
}
.dropdown-description{
    box-sizing: border-box;
    background: #F7F7F7;
    border-radius: 10px;
    width: 570px;
    height:249px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    animation: dropdown_textAnimation 600ms ease;
}
.dropdown-description p{
    
    width: min-content;
    margin:0;
    font-weight:400;
    font-size:18px;
    line-height:25.67px;
    color:#ff6060;
}
.dropdown-descriptiontext p{
    width: auto;
}
.button__lodging{
    margin: 5px;
    transform-origin: center;
}
.container__dropdowns {
    width: 98%;
    margin-bottom: 15px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.container__dropdown {
    display: block;
}