html{
    display: flex;
    justify-content: center;
}
body{
    width: 1240px;
    padding-left: 100px;
    margin:0;
    margin-top:-171px;
}
 @font-face {
     font-family: 'Montserrat';
     src: url('/fonts/Montserrat.ttf') format('truetype');
 }

 * {
     font-family: 'Montserrat', sans-serif;
     font-weight: 500;
     font-size: 48px;
     line-height: 68px;
     letter-spacing: 0em;
     text-align: left;
 }

 .container {
     background: #F7F7F7;
     width: 1220px;
     border-radius: 25px 25px 0 0;
     margin-top: 50%;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     flex-direction: row;
     padding-top: 56px;
     padding-bottom: 56px;

 }
@media(max-width: 375px) {
    html, body, .container{
        width: 375px;
    }
    
    header{
        width:80%;
        position: static;
        top:0%;
    }
    header .logo{
        height: 47px;
        width: 145px
    }
    .about_banner, .banner_background, .banner_background-img{
        height: 111px;
        width: 335px;
        left: 20px;
        top: 83px;
        border-radius: 10px;
    }
}