@keyframes rotate_icone {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(90deg);
    }
}
@keyframes dropdown_textAnimation{
    from{
        opacity: 0;
        transform: translateY(-80px)
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}
.dropdown__container{
    width:100%;
    padding-bottom: 200px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-top: 48%;

}
.button__collapse, .button__collapse-large--open{
    background: #FF6060;
    height: 47px;
    width: 85%;
    margin-right: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
    border: none;
    margin-bottom: 31px;
    z-index:2;
}

/*icone bouton*/
.button__collapse-large--open img{
    margin:15px;
    margin-right:20px;
}
.button--rotate{
    animation: rotate_icone 300ms both ease-out;
}
.collapse__description{
    animation:dropdown_textAnimation 300ms ease;
    width: 85%;
    margin-right: 20px;
    box-sizing: border-box;
    margin-top: -31px;
    margin-bottom: 0;
    padding:20px;
    padding-top: 36px;
    padding-bottom: 19px;
    border-radius: 5px;
    background: #F7F7F7;
    border-radius: 5px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    color:#FF6060;
}

