.slider{
    height: 415px;
    width: 1200px;
    border-radius: 25px;
    margin-top: 25%;
    position: relative;
}
.image{
    height: 415px;
    width: 1219px;
    border-radius: 25px;
    mix-blend-mode: normal;
    object-fit:cover;
}
.right-arrow {
    position: absolute;
    right: 15px;
    top: 170px;
    z-index: 10;
    cursor: pointer;
}

.left-arrow {
    position: absolute;
    left:25px;
    top:170px;
    z-index: 10;
    cursor: pointer;
}
.slide {
    opacity: 0;
    transform: scale(1.1);
    transition-duration: 1s ease;
}
.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1);
}