.lodging__title{
    position: relative;
    margin-top: 10px;
    margin-bottom:10px;
    height:55px;
    display: flex;
    align-items: flex-end;
}

.lodging__title p, .lodging__location, .lodging__profil-name{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 0;   
}
.lodging__title p{
    line-height: 20px;
}
.lodging__location{
    font-size: 18px;
    margin-top:0;
    height: 30px;
    display: flex;
    align-items: center;
}
.lodging__profil-picture{
    background: #C4C4C4;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.lodging__profil-name{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
    width: min-content;
    display: flex;
    align-items: center;
}
.container_profil{
    position: absolute;
    display: flex;
    justify-content:right;
    width:98.3%;
    top:0%;
}
.container__tag_rate{
    width: 98.9%;;
    display:inline-flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}
.container__dropdowns{
    width:98%;
    height:250px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.container__dropdown{
    display:block;
}