.lodging__title{
    position: relative;
    margin-top: 10px;
    margin-bottom:10px;
    height:55px;
    display: flex;
    align-items: flex-end;
}

.lodging__title p, .lodging__location, .lodging__profil-name{
    font-size: 36px;
    font-weight: 500;
    color: #FF6060;
    margin-bottom: 0;   
}
.lodging__title p{
    line-height: 20px;
}
.lodging__location{
    font-size: 18px;
    margin-top:0;
    height: 30px;
    display: flex;
    align-items: center;
}
.lodging__profil-picture{
    background: #C4C4C4;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
.lodging__profil-name{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    margin-top: 5px;
    margin-right: 10px;
    text-align: right;
    width: min-content;
    display: flex;
    align-items: center;
}
.container_profil{
    display:inline-flex;
}
.container__profil__rate{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 97%;
    top:24px;
    align-items: flex-end;
}
